
/* List view */
.list-view .content {
  display: flex;
}

.list-view .contact-grid {
  flex: 2;
}

.list-view .contact-form {
  flex: 1;
  padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
  .list-view.editing .toolbar,
  .list-view.editing .contact-grid {
    display: none;
  }
}

/* User Home View */

.user-home-view .home-div {
  display: flex;
}

.user-home-view .home-layout{
  flex: 2;
}

.user-home-view .test-results {
  flex: 1;
  padding: var(--lumo-space-m);
}
@media all and (max-width: 1100px) {
  .user-home-view.editing,
  .user-home-view.editing .home-layout {
    display: center;
  }
}

.userName{
    align-self: center;
}

.surveyBtn{
    alignment: left;
    max-width: 100px;
    background-color: crimson;
    color: white;
}

.prevBtn{
    align-self: center;
    background-color: crimson;
    color: white;
}



/* Main layout */

a[highlight] {
  font-weight: bold;
  text-decoration: underline;
}

.header {
  padding: 0 var(--lumo-space-m);
}

.header h1.logo {
  font-size: 1em;
  margin: var(--lumo-space-m);
}

/* Dashboard view */

.dashboard-view .contact-stats {
  font-size: 4em;
  margin: 1em 0;
}


/* SCL Survey view */

.scl_layout {
  alignment: center;
}

/* Survey view */

 .survey_layout{
    align-self: center;
     width: 30%;

 }

.survey_btn_layout{
    align-self: center;
    max-width: 100%;
}

.survey_btn_layout:hover{
    background-color: aqua;

}

.save_button{
    background-color: crimson;
    color: white;
}


.btn_hide{
    visibility: hidden;
    display: none;
    background-color: green;
}

 .survey_grid{
    align-items: center;
    width: 50%;
 }




/* Chart View */

scl-layout{
    align-self: center;
    display: flex;
    flex: 1 10%;
}